.clearfix{
    background: white;
    border-radius: 5px;
    color: #f56666;
    padding: 15px;
}
.come-back{
    display: inline-block;
    cursor: pointer;
    color: #4085dc;
    font-weight: bold;
    margin-top: 10px;
}