<table class="table table-striped">
  <thead>
    <tr>
      <th>STT</th>
      <th>Tên doanh nghiệp</th>
      <th class="text-right">Mã số thuế</th>
      <th>Địa chỉ</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let report of listReportEnergizer; trackBy: trackByFn">
      <td>{{report.id}}</td>
      <td>{{ report.enterpriseName }}</td>
      <td class="text-right">{{ report.taxCode }}</td>
      <td>{{ locationService.getProvince(report.province).name}}</td>
      <td class="very-small-width text-center">
        <i
          (click)="redirectToEditPage(report.id)"
          class="button-icon fa fa-file-text-o mr-2 text-primary"
          aria-hidden="true"
        >
          Chi tiết
        </i>
      </td>
    </tr>
  </tbody>
</table>
<div appLoadingOnElement #table="drLoadingOnElement"></div>
