<form class="was-validated" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
  <h1>Login</h1>
  <p class="text-muted">Sign In to your account</p>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="icon-user"></i></span>
    </div>
    <input class="is-invalid" type="text" type="email" autofocus formControlName="username" class="form-control"
      placeholder="Username" />
    <div class="invalid-feedback" *ngIf="
        loginForm.controls.username?.errors?.required &&
        loginForm.controls.username?.touched
      ">
      <div>Username is required</div>
    </div>
    <div class="invalid-feedback" *ngIf="
        loginForm.controls.username?.errors?.emailIncorrect &&
        loginForm.controls.username?.touched
      ">
      <div>Email format is incorrect</div>
    </div>
    <div class="invalid-feedback" *ngIf="
        loginForm.controls.username?.errors?.maxlength &&
        loginForm.controls.username?.touched
      ">
      <span>
        Max length is:
      </span>
      <span>
        {{ loginForm.get("username")?.errors.maxlength.requiredLength }}
      </span>
    </div>
  </div>
  <div class="input-group mb-4">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="icon-lock"></i></span>
    </div>
    <input class="is-invalid" type="password" formControlName="password" class="form-control" placeholder="Password" />
    <div class="invalid-feedback" *ngIf="
        loginForm.controls.password?.errors?.required &&
        loginForm.controls.password?.touched
      ">
      <div>password is required</div>
    </div>
    <div class="invalid-feedback" *ngIf="
        loginForm.controls.password?.errors?.maxlength &&
        loginForm.controls.password?.touched
      ">
      <span>
        Max length is:
      </span>
      <span>
        {{ loginForm.get("password")?.errors.maxlength.requiredLength }}
      </span>
    </div>
  </div>
  <div role="alert" *ngIf="loginForm?.hasError('incorrect')" class="alert alert-danger ng-star-inserted">
    {{loginForm.errors.message}}
  </div>
  <div class="row">
    <div class="col-6">
      <button type="submit" class="btn btn-primary px-4" appLoadingOnElement #buttonSubmit="drLoadingOnElement">
        Login
      </button>
    </div>
    <div class="col-6 text-right">
      <button type="button" class="btn btn-link px-0">Forgot password?</button>
    </div>
  </div>
</form>
