<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
  <div class="form-group row">
    <div class="col-12">
      <div class="row">
        <div class="col-md-3 col-form-label">
          <label>Thông tin chung doanh nghiệp:</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="year-declare-input">Năm khai báo</label>
            <div class="col-md-9">
              <input type="text" id="year-declare-input" name="year-declare-input" class="form-control"
                placeholder="Năm khai báo" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="name-company-input">Tên doanh nghiệp</label>
            <div class="col-md-9">
              <input type="text" id="name-company-input" name="name-company-input" class="form-control"
                placeholder="Tên doanh nghiệp" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <div class="row">
                <div class="col-md-3 col-form-label">
                  <label>Địa chỉ doanh nghiệp:</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="province-input">
                      Tỉnh
                    </label>
                    <div class="col-md-9">
                      <input type="text" id="province-input" name="province-input" class="form-control"
                        placeholder="Tỉnh" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="district-input">
                      Huyện
                    </label>
                    <div class="col-md-9">
                      <input type="text" id="district-input" name="district-input" class="form-control"
                        placeholder="Huyện" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="commune-input">
                      Xã
                    </label>
                    <div class="col-md-9">
                      <input type="text" id="commune-input" name="commune-input" class="form-control"
                        placeholder="Xã" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-6">
                      <div class="row">
                        <label class="col-md-6 col-form-label" for="coordinates-x-input">
                          Tọa độ X
                        </label>
                        <div class="col-md-6">
                          <input type="text" id="coordinates-x-input" name="coordinates-x-input" class="form-control"
                            placeholder="Tọa độ X" />
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="row">
                        <label class="col-md-6 col-form-label" for="coordinates-y-input">
                          Tọa độ Y
                        </label>
                        <div class="col-md-6">
                          <input type="text" id="coordinates-y-input" name="coordinates-y-input" class="form-control"
                            placeholder="Tọa độ Y" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="average-labor-input">
                      Số lao động trung bình năm
                    </label>
                    <div class="col-md-9">
                      <input type="text" id="average-labor-input" name="average-labor-input" class="form-control"
                        placeholder="Số lao động trung bình năm" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="production-enterprises-input">
                      Giá trị sản xuất của doanh nghiệp
                    </label>
                    <div class="col-md-9">
                      <input type="text" id="production-enterprises-input" name="production-enterprises-input"
                        class="form-control" placeholder="Giá trị sản xuấtcủa doanh nghiệp" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr style="width: 80%" />

  <div class="form-group row">
    <div class="col-12">
      <div class="row">
        <div class="col-md-3 col-form-label">
          <label>
            Tiêu thụ năng lượng cho sản xuất:
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="antraxit-input">
              Than antraxit
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="antraxit-input" name="antraxit-input" class="form-control"
                    placeholder="Than antraxit" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="antraxit-input">
                    (Nghìn tấn)
                  </label>
                </div>
              </div>
            </div>

          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="bitum-input">
              Than bitum
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="bitum-input" name="bitum-input" class="form-control"
                    placeholder="Than bitum" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="bitum-input">
                    (Nghìn tấn)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="Do-input">
              Dầu DO
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="Do-input" name="Do-input" class="form-control" placeholder="Dầu DO" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="Do-input">
                    (Nghìn tấn)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="FO-input">
              Dầu FO
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="FO-input" name="FO-input" class="form-control" placeholder="Dầu FO" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="FO-input">
                    (Nghìn tấn)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="LPG-input">
              LPG
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="LPG-input" name="LPG-input" class="form-control" placeholder="LPG" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="LPG-input">
                    (Nghìn tấn)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="biogas-input">
              Khí sinh học
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="biogas-input" name="biogas-input" class="form-control"
                    placeholder="Khí sinh học" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="biogas-input">
                    (Nghìn tấn)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="biomass-input">
              Sinh khối
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="biomass-input" name="biomass-input" class="form-control"
                    placeholder="Sinh khối" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="biomass-input">
                    (Nghìn tấn)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="other-input">
              Khác (nếu có)
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="other-input" name="other-input" class="form-control"
                    placeholder="Khác (nếu có)" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="other-input">
                    (Nghìn tấn)
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr style="width: 80%" />

  <div class="form-group row">
    <div class="col-12">
      <div class="row">
        <div class="col-md-3 col-form-label">
          <label>
            Sản phẩm khai thác và chế biến:
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="coal-from-pit">
              Than khai thác hầm lò
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="coal-from-pit" name="coal-from-pit" class="form-control"
                    placeholder="Than khai thác hầm lò" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="coal-from-input">
                    (Nghìn tấn)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="open-pit-coal-input">
              Than khai thác lộ thiên
            </label>
            <div class="col-md-9">

              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="open-pit-coal-input" name="open-pit-coal-input" class="form-control"
                    placeholder="Than khai thác lộ thiên" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="open-pit-coal-input">
                    (Nghìn tấn)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="coal-other-input">
              Khác (nếu có)
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="other-coal-input" name="other-coal-input" class="form-control"
                    placeholder="Khác (nếu có)" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="other-coal-input">
                    (Nghìn tấn)
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr style="width: 80%" />

  <div class="form-group row">
    <div class="col-12">
      <div class="row">
        <div class="col-md-3 col-form-label">
          <label>
            Khai báo sản lượng sản phẩm khai thác và chế biến dầu khí:
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="coal-from-pit">
              Dầu thô
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="coal-from-pit" name="coal-from-pit" class="form-control"
                    placeholder="Dầu thô" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="coal-from-input">
                    (Nghìn tấn)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="open-pit-coal-input">
              Khí đồng hành
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="open-pit-coal-input" name="open-pit-coal-input" class="form-control"
                    placeholder="Khí đồng hành" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="open-pit-coal-input">
                    (Tr.m3)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="coal-other-input">
              Khí không đồng hành
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="other-coal-input" name="other-coal-input" class="form-control"
                    placeholder="Khí không đồng hành" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="other-coal-input">
                    (Tr.m3)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="coal-other-input">
              Khí không thành phẩm
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="other-coal-input" name="other-coal-input" class="form-control"
                    placeholder="Khí không đồng hành" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="other-coal-input">
                    (Tr.m3)
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-actions text-center">
    <button class="btn btn-primary" (click)="submit()" type="submit" appLoadingOnElement
      #buttonSubmit="drLoadingOnElement">Thêm</button>
    <button class="btn btn-secondary" (click)="cancel()" type="button">Quay lại</button>
  </div>
</form>
