<form *ngIf="formAddDMiningIndustry" [formGroup]="formAddDMiningIndustry" (ngSubmit)="submit()" class="form-horizontal">
  <div class="form-group row" formGroupName="baseInfo">
    <div class="col-12">
      <div class="row">
        <div class="col-md-3 col-form-label">
          <label>Thông tin chung doanh nghiệp:</label>
        </div>
      </div>
     
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="year-declare-input">Năm khai báo</label>
            <div class="col-md-9">
              <input type="text" id="year-declare-input" formControlName="foundedYear" name="year-declare-input" class="form-control"
                placeholder="Năm khai báo" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="name-company-input">Tên doanh nghiệp</label>
            <div class="col-md-9">
              <input type="text" id="name-company-input" formControlName="name" name="name-company-input" class="form-control"
                placeholder="Tên doanh nghiệp" />
            </div>
          </div>
          <div class="form-group row" formGroupName="address">
            <div class="col-12">
              <div class="row">
                <div class="col-md-3 col-form-label">
                  <label>Địa chỉ doanh nghiệp:</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="province-input">
                      Tỉnh
                    </label>
                    <div class="col-md-9">
                      <input type="text" id="province-input" formControlName="province" name="province-input" class="form-control"
                        placeholder="Tỉnh" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="district-input">
                      Huyện
                    </label>
                    <div class="col-md-9">
                      <input type="text" id="district-input" formControlName="district" name="district-input" class="form-control"
                        placeholder="Huyện" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="town-input">
                      Xã
                    </label>
                    <div class="col-md-9">
                      <input type="text" id="town-input" formControlName="town" name="town-input" class="form-control"
                        placeholder="Xã" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-6">
                      <div class="row">
                        <label class="col-md-6 col-form-label" for="coordinates-x-input">
                          Tọa độ X
                        </label>
                        <div class="col-md-6">
                          <input type="text" id="coordinates-x-input" formControlName="xCoordinate" name="coordinates-x-input" class="form-control"
                            placeholder="Tọa độ X" />
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="row">
                        <label class="col-md-6 col-form-label" for="coordinates-y-input">
                          Tọa độ Y
                        </label>
                        <div class="col-md-6">
                          <input type="text" id="coordinates-y-input" formControlName="yCoordinate" name="coordinates-y-input" class="form-control"
                            placeholder="Tọa độ Y" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="average-labor-input">
                      Số lao động trung bình năm
                    </label>
                    <div class="col-md-9">
                      <input type="text" id="average-labor-input" formControlName="employees" name="average-labor-input" class="form-control"
                        placeholder="Số lao động trung bình năm" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="production-value-input">
                      Giá trị sản xuất của doanh nghiệp
                    </label>
                    <div class="col-md-9">
                      <input type="text"  formControlName="productionValue" id="production-value-input" name="production-value-input"
                        class="form-control" placeholder="Giá trị sản xuấtcủa doanh nghiệp" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr style="width: 80%" />
  
  <div class="form-group row">
    <div class="col-12">
      <div class="row">
        <div class="col-md-3 col-form-label">
          <label>
            Tiêu thụ năng lượng cho sản xuất:
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="antraxit-input">
              Than antraxit
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="antraxit-input" name="antraxit-input" class="form-control"
                    placeholder="Than antraxit" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="antraxit-input">
                    (Nghìn tấn)
                  </label>
                </div>
              </div>
            </div>

          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="bitum-input">
              Than bitum
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="bitum-input" name="bitum-input" class="form-control"
                    placeholder="Than bitum" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="bitum-input">
                    (Nghìn tấn)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="Do-input">
              Dầu DO
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="Do-input" name="Do-input" class="form-control" placeholder="Dầu DO" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="Do-input">
                    (Nghìn tấn)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="FO-input">
              Dầu FO
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="FO-input" name="FO-input" class="form-control" placeholder="Dầu FO" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="FO-input">
                    (Nghìn tấn)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="LPG-input">
              LPG
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="LPG-input" name="LPG-input" class="form-control" placeholder="LPG" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="LPG-input">
                    (Nghìn tấn)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="biogas-input">
              Khí sinh học
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="biogas-input" name="biogas-input" class="form-control"
                    placeholder="Khí sinh học" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="biogas-input">
                    (Nghìn tấn)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="biomass-input">
              Sinh khối
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="biomass-input" name="biomass-input" class="form-control"
                    placeholder="Sinh khối" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="biomass-input">
                    (Nghìn tấn)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="other-input">
              Khác (nếu có)
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-10">
                  <input type="text" id="other-input" name="other-input" class="form-control"
                    placeholder="Khác (nếu có)" />
                </div>
                <div class="col-md-2">
                  <label class="col-form-label" for="other-input">
                    (Nghìn tấn)
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  
  <ng-container *ngFor="let itemBranches of listBranches">
    <hr style="width: 80%" />

    <div class="form-group row" [formGroupName]="itemBranches.name">
      <div class="col-12">
        <div class="row">
          <div class="col-md-3 col-form-label">
            <label>
              {{itemBranches.displayName}}
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-9">
            <ng-container *ngFor="let itemProduct of itemBranches.listProduct">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="coal-from-pit">
                  {{ itemProduct.displayName }}
                </label>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-10">
                      <input type="text" id="{{itemProduct.name}}" [formControlName]="itemProduct.name" name="coal-from-pit" class="form-control"
                        placeholder="Dầu thô" />
                    </div>
                    <div class="col-md-2">
                      <label class="col-form-label" for="coal-from-input">
                        ({{ itemProduct.unit }})
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="form-actions text-center">
    <button class="btn btn-primary" type="submit" appLoadingOnElement
      #buttonSubmit="drLoadingOnElement">Thêm</button>
    <button class="btn btn-secondary" (click)="cancel()" type="button">Quay lại</button>
  </div>
</form>
