.form-actions{

    button{
        margin: 0px 5px;
    }
}

ng-multiselect-dropdown.form-control{
    padding: 0px;

    .multiselect-dropdown{

        .dropdown-btn{
            border: 0px !important;
        }
    }
}
