<carousel [isAnimated]="true" [noPause]="true">
  <slide>
    <img src="../../../../../assets/img/carousel/img-1.jpg" alt="first slide" style="display: block; width: 100%; height: 75vh;">
    <div class="carousel-caption d-none d-md-block">
      <h1 class="text-danger font-weight-bold display-4 text-uppercase">Hệ thống dữ liệu năng lượng việt nam</h1>
    </div>
  </slide>
  <slide>
    <img src="../../../../../assets/img/carousel/img-2.jpg" alt="second slide" style="display: block; width: 100%; height: 75vh;">
    <div class="carousel-caption d-none d-md-block">
      <h1 class="text-danger font-weight-bold display-4 text-uppercase">Hệ thống dữ liệu năng lượng việt nam</h1>
    </div>
  </slide>
  <slide>
    <img src="../../../../../assets/img/carousel/img-3.png" alt="third slide" style="display: block; width: 100%; height: 75vh;">
    <div class="carousel-caption d-none d-md-block">
      <h1 class="text-danger font-weight-bold display-4 text-uppercase">Hệ thống dữ liệu năng lượng việt nam</h1>
    </div>
  </slide>
</carousel>