<carousel [isAnimated]="true" [noPause]="true">
  <slide>
    <img src="../../../../../assets/img/carousel/img-1.jpg" alt="first slide" style="display: block; width: 100%; height: 79vh;">
    <div class="carousel-caption d-none d-md-block">
      <h2 class="text-danger font-weight-bold text-uppercase" style="font-size: 3.0rem;">Cơ sở dữ liệu về biến đổi khí hậu và tăng trưởng xanh ngành Công Thương</h2>
    </div>
  </slide>
  <slide>
    <img src="../../../../../assets/img/carousel/img-2.jpg" alt="second slide" style="display: block; width: 100%; height: 79vh;">
    <div class="carousel-caption d-none d-md-block">
      <h2 class="text-danger font-weight-bold text-uppercase" style="font-size: 3.0rem;">Cơ sở dữ liệu về biến đổi khí hậu và tăng trưởng xanh ngành Công Thương</h2>
    </div>
  </slide>
  <slide>
    <img src="../../../../../assets/img/carousel/img-3.png" alt="third slide" style="display: block; width: 100%; height: 79vh;">
    <div class="carousel-caption d-none d-md-block">
      <h2 class="text-danger font-weight-bold text-uppercase" style="font-size: 3.0rem;">Cơ sở dữ liệu về biến đổi khí hậu và tăng trưởng xanh ngành Công Thương</h2>
    </div>
  </slide>
</carousel>